@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
}

.nav-wrapper {
	display: flex;
	position: sticky;
	top: 70px;
	height: 300px;
}

.user-home {
	display: flex;
	position: relative;
	width: 100%;
	margin-left: 150px;
	padding-left: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	flex-shrink: 0;
}

.user-home a {
	padding: 5px;
	margin: 5px;
}

.main-container {
	display: flex;
	position: relative;
	width: 100%;
	padding: 30px;
}

.containergrid {
	display: grid;
	grid-template-columns: 1fr 8fr;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	margin-left: 50px;
	padding: 5px;
	position: relative;
}